*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
    font-family: 'Karla';
    color:#293264;
    background-color: #f0f4fa;
    background-image: url(./images/pencil-svgrepo-com.svg);
    background-repeat: no-repeat;
    background-position: right -200px top -200px;
    width: 100%;
    height: 100vh;
    
}

.intro{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:5px;
}

.intro h1{
    font-size: 60px;
    line-height: 36px;
    margin:0;
    text-decoration:underline solid;
}
.intro h1 span{
    font-size: 70px;
}
.intro p{
    font-size: 16px;
    font-weight: 500;
}
.introduction{
    display: flex;
    gap: 10px;
    align-items: center;
}
.introduction .fa-react{
    font-size: 30px;
    font-weight: 500;
}
.start-btn{
    font-family: 'Karla';
    background-color:#293264;;
    color:#F5F7FB;
    border: none;
    border-radius: 15px;
    width: 200px;
    height: 52px;
    font-size: 16px;
    margin: 15px 0px;
}
.start-btn:hover{
    background-color:#293268;
    font-size: 18px;
}

.answer-list{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;  
    width:100%;
    
}
.answer{
    color: #4D5B9E;
    border: 0.794239px solid #4D5B9E;
    border-radius: 7.94239px;
    padding: 4px 19px;
}
.wrapper{
    text-align: left;
    padding-left: 20px;
    
}
.line{
    width: 90%;
    height: 1.5px;
    background-color: #DBDEF0;
    margin-top: 15px;
}